/* Define light mode (default) */
:root {
    --background-color: #f9f9f9;
    --nav-background-color: #f8f9fa;
    --text-color: #191919;
    --link-color: #0056b3;
    --footer-background: #000;
    --footer-text-color: #ccc;
    --button-background: #007BFF;
    --button-hover-background: #0056b3;
    --article-background: #f2f2f2;
    --form-background-color: #fff;
}

/* Define dark mode */
.dark-mode {
    --background-color: #191919;
    --nav-background-color: #000;
    --text-color: #f9f9f9;
    --link-color: #4da8da;
    --footer-background: #333;
    --footer-text-color: #999;
    --button-background: #4da8da;
    --button-hover-background: #007BFF;
    --article-background: #000;
    --form-background-color: transparent;
}

#dark-mode-toggle {
    background: transparent;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}

#dark-mode-toggle:hover {
    background: transparent;
}

/* Utility Classes */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* General Styles */
body {
    font-family: 'Amiko', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    background-color: var(--background-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 110px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: #0056b3;
}

p {
    text-align: justify;
}

nav {
    background-color: var(--nav-background-color);
    padding: 40px;
    box-shadow: #ccc 0px 0px 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    box-sizing: border-box;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-text {
    padding: 50px;
}

main {
    margin: 0 auto;
}

.page-section {
    scroll-margin-top: 80px;
}

.services h2,
.services p {
    padding: 0 50px 0 50px;
}

.services {
    padding: 50px 0 50px 0;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid h3 {
    text-align: center;
}

.grid-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
}

.grid-col1,
.grid-col2 {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.col-text {
    background-color: var(--article-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

.col-img {
    padding: 0;
    overflow: hidden;
}

.col-img img {
    width: 100%;
    height: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    transition: transform 0.3s ease-out;
}

.col-img img:hover {
    transform: scale(1.1, 1.1);
}

/* Footer */
footer {
    background: #000;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p,
footer strong {
    margin: 0;
    text-align: left;
}

footer #impressum {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    padding: 10px;
    color: #fff;
    border: none;
    margin: 0 auto 10px;
    max-width: 1200px;
    text-align: left;
    align-items: stretch;
}

footer #impressum p {
    font-size: 0.9rem;
    color: #999;
    font-weight: 300;
    flex: 1 1 calc(33.33% - 20px);
    min-width: 200px;
}

footer #impressum strong {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

footer #impressum a {
    color: #007BFF;
    text-decoration: none;
}

footer #impressum a:hover {
    text-decoration: underline;
}

.copy-right {
    text-align: center;
}

/* Contact Form Styles */
.contact h2,
.contact p {
    padding: 0 50px 0 50px;
}

.contact {
    padding: 50px 0 50px 0;
}

.contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 50%;
    padding: 30px;
    background: var(--form-background-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    text-align: left;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: var(--form-background-color);
    resize: none;
}

form button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #0056b3;
}

.g-recaptcha {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

/* Initial hidden state for h and p tags */
.has-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Animation when elements are visible */
h1.visible,
h2.visible,
h3.visible,
h4.visible,
h5.visible,
h6.visible {
    opacity: 1;
    transform: translateY(0);
}

p.visible {
    opacity: 1;
    transform: translateY(0);
}

.company-name {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .company-name {
        display: block;
        font-weight: 700;
    }

    nav {
        padding: 20px;
        background-color: var(--nav-background-color);
        box-shadow: #ccc 0px 0px 5px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        gap: 10px;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: var(--nav-background-color);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 30px;
        position: relative;
        z-index: 1100;
    }

    .hamburger div {
        width: 100%;
        height: 4px;
        background-color: var(--text-color);
        margin: 5px 0;
        transition: all 0.3s ease-in-out;
    }

    .hamburger div:first-child {
        margin-top: 0;
    }

    .hamburger div:last-child {
        margin-bottom: 0;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .services h2,
    .services p,
    .contact h2,
    .contact p {
        padding: 0 20px;
    }

    .grid-row {
        flex-direction: column;
    }

    .grid-row .col-img {
        order: -1;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: stretch;
    }

    .grid-row .col-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    footer #impressum {
        flex-direction: column;
        gap: 10px;
    }

    form {
        width: 90%;
        padding: 20px;
    }
}